{% extends '::base.html.twig' %}

{% block menu %}
	{% set active = 'certificado' %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
	<div class="row">
    <div class="col-lg-12">	
        <section class="panel">
            <div class="panel-body text-center">
				{% if certificado %}
					<img src="{{ asset(ruta_certificado) }}" max-width="100%"><br>
					<a class="btn btn-shadow btn-success" href="{{ path('download_certificado') }}">
						<i class="icon-download-alt"></i> {% trans from "label" %}descargar{% endtrans %}
						
					</a>
					
				{% endif %}
			</div>
        </section>
    </div>
{% endblock body %}
