/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!db/.gitkeep
/uploads/mensajes/*
!uploads/mensajes/.gitkeep
/uploads/foros/*
!uploads/foros/.gitkeep
/build/
/vendor/
/bin/
/nbproject/private/
/nbproject/