/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
composer.phar
composer.lock
/nbproject/private/
/nbproject/
!db/.gitkeep
/uploads/mensajes/*
!uploads/mensajes/.gitkeep
/uploads/foros/*
!uploads/foros/.gitkeep
/web/uploads/vocationet/informacion/
!/web/uploads/vocationet/informacion/.gitkeep
/web/uploads/vocationet/ml/
!/web/uploads/vocationet/ml/.gitkeep
/web/uploads/vocationet/universidad/
!/web/uploads/vocationet/universidad/.gitkeep
/web/uploads/vocationet/certificados/
!/web/uploads/vocationet/universidad/.gitkeep
.~*
