parameters:
    database_driver:   pdo_mysql
    database_host:     altacticadmin.ctkjecosmdml.us-east-1.rds.amazonaws.com
    database_port:     3306
    database_name:     vocationet-dev
    database_user:     adminuser
    database_password: StudiO8181admin

    mailer_transport:  mail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            c35163b10d6eafe418a06c107ddfb77dd6

    facebook_app_id:   1440367069511188
    facebook_app_secret: 44c541754cf143537e99978f46c92a54

    linkedin_api_key:   75rlzg7jzsasg6
    linkedin_secret_key: xo6kT9mKQHGceZKQ

    payu_merchantId: 505798
    payu_ApiKey: 2tpsd6jmfh11kob9uon8i9vnad
