parameters:
    database_driver:   pdo_mysql
    database_host:     altacticadmin.ctkjecosmdml.us-east-1.rds.amazonaws.com
    database_port:     3306
    database_name:     vocationet-dev
    database_user:     adminuser
    database_password: StudiO8181admin

    mailer_transport:  mail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            c35163b10d6eafe418a06c107ddfb77dd6

    facebook_app_id:   215506538627745
    facebook_app_secret: 548c0564a348201dc8195c546d908736

    linkedin_api_key:   52mywqqn6p2g
    linkedin_secret_key:    1x0mrvvEezS9ErST

    payu_web_checkout_url: https://gateway.payulatam.com/ppp-web-gateway/
    payu_merchantId: 500238
    payu_ApiKey: 6u39nqhq8ftd0hlvnjfs66eh8c
    payu_accountId: 500537
