parameters:
    database_driver:   pdo_mysql
    database_host:     altacticadmin.ctkjecosmdml.us-east-1.rds.amazonaws.com
    database_port:     3306
    database_name:     vocationet-dev
    database_user:     adminuser
    database_password: StudiO8181admin

    mailer_transport:  mail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            c35163b10d6eafe418a06c107ddfb77dd6
