.p-img {
	position:absolute;
	top:3px; right:28px;
	color:#555;
	font:bold 13px/1 sans-serif;
}

.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
	background:url(icon.png);
}

.cls-hidden {
	display: none !important;
}
