<h4>ELEMENTOS INSTITUCIÓN EDUCATIVA </h4>
<p>Antes de ponderar estas variables deberás haber decidido que Universidad es la mas adecuada para cada alternativa de estudio. Tu experto OV te asesorara en los pasos que debes seguir para determinar la universidad idónea para tus alternativas y podrás complementarlo hablando con profesionales en la red de mentores, que hayan estudiado en dicha universidades que estas interesado en ingresar.</p>
<p>
    <b>Ubicación: </b>
    Que tanto se acomoda la ubicación de la universidad que seleccionaste para esta alternativa de estudio (esta ubicada en la ciudad en la que vives).
</p>
<p>
    <b>Precios y esquemas de financiación: </b>
    
</p>
<p>
    <b>Calidad: </b>
    Cual es el nivel de calidad acreditado por el ministerio de educación.
</p>
<p>
    <b>Planta Docente: </b>
    Que tan buena es la planta docente de la universidad (Esto depende de que tantos profesionales tiene maestrías y doctorados, las actividades de investigación de la universidad, los proyectos de estudio nacionales e internacionales liderados por la universidad). Adicional que que tendrás profesores de calidad que te dictaran tus clases es una posibilidad MUY IMPORTANTE de construir relaciones académicas para tu futuro profesional.
</p>
<p>
    <b>Formación complementaria: </b>
    Que tan buena es la formación complementaria que ofrece la universidad (idiomas, cursos adicionales, deportes, entre otros).
</p>
<p>
    <b>Recursos institucionales: </b>
    Que tan buenos son los recursos de la universidad (aulas de estudio, bibliotecas, laboratorios, salas de computo, instalaciones deportivas, áreas comunales, infraestructura en general, entre otros).
</p>
