<h4>ELEMENTOS SOBRE LA CARRERA </h4>
<p>Las variables a continuación en lo posible debes responderlas no solo respecto a la carrera o alternativa de estudio sino al campo de acción especifico que quisieras desempeñarte en esta carrera profesional (ej. Si quieres estudiar Biología, pero el campo especifico en que que quisieras trabajar es Investigación).</p>
<p>
    <b>Pensum: </b>
    Cual es tu nivel de interés frente a las materias incluidas en el plan de estudios de esta alternativa de estudio.
</p>
<p>
    <b>Aplicabilidad: </b>
    Que tanto consideras que podrás aplicar los conocimientos de tu carrera y/o campo de acción especifica en el mercado laboral actual.
</p>
<p>
    <b>Empleabilidad: </b>
    Que tan fácil consideras que podrás conseguir empleo en esta alternativa de estudio y/o campo de acción especifica en el mercado laboral actual.
</p>
<p>
    <b>Ingresos laborales: </b>
    Que tan a gusto estaría con los ingresos laborales que puede recibir a corto mediano y largo plazo en el campo de acción de esta alternativa de estudio.
</p>
<p>
    <b>Proyección de Crecimiento: </b>
    Si es importante dentro de tu diseño de vida recibir unos ingresos laborales mínimos, que tan fácil es lograr estos ingresos a corto, mediano y largo plazo para esta alternativa de estudio.
</p>
<p>
    <b>Flexibilidad: </b>
    Que posibilidades de diversificar y complementar con otros estudios adicionales esta alternativa de estudio para logara aplicar tus conocimientos en el campo de acción que quieres trabajar.
</p>
<p>
    <b>Ambiente Geográfico: </b>
    Que tan factible es que puedas desempeñarte profesionalmente en el campo de acción de esta alternativa de estudio en tu ciudad, país o región.
</p>
<p>
    <b>Ambiente Físico: </b>
    Que tan a gusto estarías en el ambiente físico (espacio y objetos físicos como  contacto con computadores, uso de instrumentos quirúrgicos, trabajo en campo, trabajo en planta, etc.) donde tendrías que  desempeñarte profesionalmente en el campo de acción de esta alternativa de estudio.
</p>
<p>
    <b>Ambiente Organizacional: </b>
    Que tan a gusto estarías en el ambiente Organizacional (ambiente de espacio de trabajo, trabajo en equipo o individual, tipo de personal con el que laboraras, etc..) donde tendrías que  desempeñarte profesionalmente en el campo de acción de esta alternativa de estudio.
</p>
<p>
    <b>Internacionalización: </b>
    Si es importante dentro de tu diseño de vida trabajar en otro país, que tan fácil es aplicar esta alternativa de estudio según. Homologación y oportunidades laborales.
</p>