<h4>Elementos personales </h4>
<p>
    <b>Intereses: </b>
    Cual es el placer y entretención que podrías tener al escoger esta alternativa de estudio.
</p>
<p>
    <b>Habilidades: </b>
    Como valoras tus destrezas, habilidades y talentos innatos para esta alternativa de estudio.
</p>
<p>
    <b>Personalidad: </b>
    Que tanto coincide tus rasgos de temperamento y características con esta alternativa de estudio en tus aspectos personales y las actividades laborales que vas ha desempeñar.
</p>
<p>
    <b>Valores: </b>
    Que tanto se alinean tus principios e ideales personales con los trabajos que podrías desempeñar si  escoges esta alternativa de estudio.
</p>
<p>
    <b>Metas: </b>
    Como valoras la posibilidad de cumplir tus metas laborales y personales al trabajar en los campos de acción que tiene esta alternativa de estudio.
</p>
<p>
    <b>Satisfacción: </b>
    Cual es tu Nivel de satisfacción personal desarrollando actividades asociadas a esta alternativa de estudio.
</p>
<p>
    <b>Nivel de formación (IMPORTANTE): </b>
    Cual es tu nivel de seguridad respecto al tipo de profesión que estas buscando: Técnico, Tecnólogo, universitario u oficios no catalogados como profesiones (profesor de yoga).
</p>