{% extends '::base.html.twig' %}

{% block menu %}
	{% include '::menu.html.twig' %}
{% endblock menu %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<section>
				<div class="panel panel-primary">
					<div class="panel-heading" style="font-size: 21px">{% trans from "label" %}confirmar.compra{% endtrans %}</div>
					<div class="panel-body">
					{#
						{% trans from "label" %}mensaje.confirmar.compra{% endtrans %}
						<div style="text-align: center; margin-top:20px;">
							<!-- Form para enviar peticion a PayU  -->
							{% include 'vocationetBundle:PayU:form.html.twig' %}
						</div>
					#}
					<h3>{% trans from "label" %}mensaje.cupos.llenos{% endtrans %}</h3>
					<h2>{% trans from "label" %}vocationet.piensa.en.tu.futuro{% endtrans %}</h2>
					<p class="text-center"><img width="30%" src="{{ asset('img/vocationet/exitototal.png') }}" /></p>
					</div>
				</div>
				
			</section>
		</div>
	</div>
{% endblock body %}
